body.withbanner.theme-wwu2019 #banner-parent .fill-element {
    width: 100%;
    height: 40px;
    flex-shrink: 0;
}

body.withbanner.theme-wwu2019 nav#main-menu {
    top: 40px;
}

body.withbanner.theme-boost {
    height: calc(100% - 40px);
    transform: translateY(40px);
    overflow: hidden;
}

body.withbanner.theme-boost #banner-parent {
    transform: translateY(-40px);
}

body.withbanner .softwarewarning-banner {
    position: fixed;
    display: block;
    z-index: 100;
    width: 100%;
    font-size: 1.1em;
    height: 40px;
    text-align: center;
    padding: 0.5em;
}

body.withbanner .softwarewarning-banner .close {
    color: inherit;
    padding: 8px;
    margin: -8px 0;
}

.softwarewarning-banner[data-severity="info"] {
    background-color: #107900;
    color: #fff;
}

.softwarewarning-banner[data-severity="warn"] {
    background-color: gold;
    color: #000;
}

.softwarewarning-banner[data-severity="error"] {
    background-color: #b70000;
    color: #fff;
}

/* Admin panel */

body.path-admin-local-softwarewarning #local_softwarewarning-config > * {
    margin: 0 -15px;
    padding: 1.5em 0;
}

body.path-admin-local-softwarewarning #local_softwarewarning-config > :not(:last-child) {
    border-bottom: 1px solid #777;
}

body.path-admin-local-softwarewarning #local_softwarewarning-config .form-control {
    display: inline;
}

body.path-admin-local-softwarewarning #local_softwarewarning-config .form-control[size] {
    width: auto;
}

body.path-admin-local-softwarewarning #local_softwarewarning-config .sw-onerule {
    display: none;
}

body.path-admin-local-softwarewarning #local_softwarewarning-config > *[data-sw-onerule="true"] .sw-onerule {
    display: unset;
}

body.path-admin-local-softwarewarning #local_softwarewarning-config > *[data-sw-onerule="true"] .sw-multirule {
    display: none;
}